{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
            <div class="my-3 p-4 shadow border">
            <form class="needs-validation" action="" method="POST" novalidate>
            {% csrf_token %}
                <h2 class="fw-bold mb-1">Login <i class="fa-solid fa-arrow-right-to-bracket"></i></h2>
                <p class="small mb-2">Please enter your email and password!</p>
                <hr>

                <div class="form-outline mb-2">
                <label class="form-label" for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a email.
                    </div>
                </div>

                <div class="form-outline mb-2">
                <label class="form-label" for="password1">Password</label>
                    <input type="password" name="password" id="password1" class="form-control" required />
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>

                <p class="small mb-2"><a class="link-dark text-decoration-none" href="{% url 'password_reset' %}">Forgot password?</a></p>
                
                <div class="text-center mb-2">   
                    <input type="hidden" name="next" value="{{next}}" />
                    <button class="btn btn-dark px-3" type="submit">Login</button>
                </div>
                
                <!-- <div class="text-center mb-2">
                    <a href="" class="btn btn-danger"><i class="fab fa-google fa-lg"></i> Continue with Google</a>
                </div> -->
                
                <div class="text-center">
                <p>Don't have an account?<a href="{% url 'register' %}" class="link-dark fw-bold text-decoration-none"> Sign Up</a></p>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/form-validation.js' %}"></script>

{% endblock content %}