{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 mx-auto">
            <div class="my-3 p-4 border shadow bg-light text-dark">
                    <div class="text-center mt-3">
                        <img src="{{ request.user.avatar.url }}"
                            class="rounded-circle mb-3"
                            style="width: 150px; height: 150px;"
                            alt="Avatar"/>
                        <h5><strong>{{ request.user.username }}</strong></h5>
                        <p class="text-muted">
                            <i class="fas fa-quote-left pe-2"></i>
                            {{ request.user.bio }}
                          </p>
                    </div>
                    <form class="needs-validation" action="" method="POST" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group mb-2">
                                <label class="form-label">{{ field.label_tag }}</label>
            
                            {% if field.errors %}
                                {% render_field field class="form-control is-invalid" %}
                                {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control" %}
                                <div class="invalid-feedback">
                                    Please enter a {{ field.label }}.
                                </div>
                            {% endif %}
                            </div>
                            {% endfor %}
                            <div class="mb-2 text-end">
                                <a href="{% url 'home' %}" class="btn btn-outline-dark"><i class="fa-solid fa-circle-chevron-left"></i> Cancel</a>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </div> 
                    </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static '/js/form-validation.js' %}"></script>

{% endblock content %}