{% if not rooms %}
    <h5>None</h5>
{% endif %}

{# Rooms #}
{% for room in page_obj %}
<div class="card bg-light text-dark mb-2">
    <div class="card-body shadow">  

        {% if request.user == room.host %}
            <div class="float-end">
                <a href="{% url 'update_room' room.id %}" class="btn btn-sm btn-success"><i class="fa-solid fa-pen"></i> Edit</a>
                <a href="{% url 'delete_room' room.id %}" class="btn btn-sm btn-danger"><i class="fa-solid fa-xmark"></i> Delete</a>
            </div>
        {% endif %}

        <span><img src="{{ room.host.avatar.url }}" alt="logo" class="rounded-circle" style="width: 50px; height: 50px;"> Host <a href="{% url 'profile_user' room.host.id %}" class="text-decoration-none">@{{ room.host.username }}</a></span>

        <div class="my-2">
            <a class="text-dark text-decoration-none fs-4" href="{% url 'room' room.id %}">{{ room }}</a>
        </div>
        <hr>
        <span class="badge rounded-pill bg-dark"><i class="fa-solid fa-tags"></i> {{ room.topic.name }}</span>
        <span class="float-end">{{ room.created|date:"d/m/Y" }}</span>
        
    </div>
</div>
{% endfor %}

{# Pagination #}
{% if page_obj.has_other_pages %}
    <div class="text-center my-3">
        {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-dark">&laquo;</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
            <a href="" class="active btn btn-dark">{{ i }}</a>
            {% else %}
            <a class="btn btn-outline-dark" href="?page={{ i }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-dark">&raquo;</a>
        {% endif %}

        <p class="my-3">
            Showing page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </p>
    </div>
{% endif %}