{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 mx-auto">
            <div class="my-5 p-4 shadow border bg-light text-dark">
                <h2 class="text-center">{{ object }} <i class="fa-solid fa-pen-to-square"></i></h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-2">
                        <label class="form-label">Edit your message: </label>
                        {% render_field field class="form-control" %}
                    </div>
                    {% endfor %}
                    <div class="text-end">
                        <a href="javascript:history.go(-1)" class="btn btn-outline-dark"><i class="fa-solid fa-circle-chevron-left"></i> Cancel</a>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}