{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">

        {# Visible on medium screen #}
        <div class="col-md-4 mt-4 d-block d-md-none">
            {# Head #}
            <div class="dropdown">
                <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                    Members <i class="fa-solid fa-user-plus"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for member in room_members %}     
                    <li><p class="dropdown-item"><img src="{{ member.avatar.url }}"
                            class="rounded-circle"
                            style="width: 50px; height: 50px;"
                            alt="logo"/> <a href="{% url 'profile_user' member.id %}" class="text-decoration-none">{{ member.username }}</a></p></li>
                {% endfor %}
            </div>
        </div>

        {# Hide on medium screen #}
        <div class="col-md-4 d-none d-md-block">
            <div class="my-3 p-4 border shadow">
                {# Head #}
                <h4>Members <i class="fa-solid fa-user-plus"></i></h4>
                <hr>
                <div>
                    {% for member in room_members %}
                        <p><img src="{{ member.avatar.url }}"
                            class="rounded-circle"
                            style="width: 50px; height: 50px;"
                            alt="logo"/> <a href="{% url 'profile_user' member.id %}" class="text-decoration-none">{{ member.username }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="my-3 p-4 border shadow">
                {# About Room #}
                <div class="d-flex flex-column">
                    <h4>{{ room }} <i class="fa-solid fa-fire"></i></h4>
                    <p>{{ room.description }}</p>
                    {% if not request.user.is_authenticated %}
                    <a href="{% url 'login' %}" class="btn btn-dark text-decoration-none align-self-end">+ Join</a>
                    {% endif %}
                    <hr>   
                </div>

                {# Chat #}
                <div>
                    {# Comment Form #}
                    {% if request.user.is_authenticated %}
                    <form class="row mb-4" action="" method="POST">
                        {% csrf_token %}
                        <div class="col-10">
                            <input class="form-control" type="text" name="body" placeholder="Type your message...">
                        </div>
                        <div class="col-2">
                            <button type="submit" class="float-end btn btn-dark px-3"><i class="fa-solid fa-circle-arrow-right"></i></button>
                        </div>
                    </form>
                    {% endif %}

                    {# Chat Messages #}
                    {% for message in room_messages %}
                        <span class="float-end">{{ message.created|date:"d/m/y" }} ({{ message.created|time:"H:i" }})</span>

                        <div class="mb-1 d-sm-flex">
                            <img src="{{ message.user.avatar.url }}"
                            class="rounded-circle"
                            style="width: 50px; height: 50px;"
                            alt="logo"/>
                            <span class="px-2">{{ message.body }}</span>

                            {% if request.user == message.user %}
                            <span class="dropdown px-1">
                                <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                </a>
                                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuLink">
                                    <li><a class="text-secondary" href="{% url 'update_message' message.id %}"><i class="fa-solid fa-pen"></i> Edit</a></li>
                                    <li><a class="text-secondary" href="{% url 'delete_message' message.id %}"><i class="fa-solid fa-xmark"></i> Delete</a></li>
                                </ul>
                            </span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock content %}