{# Visible on medium screen #}
<div class="d-block d-md-none">
    {# Topics #}
    <span class="dropdown">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Subreddit <i class="fa-brands fa-free-code-camp"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <li><a href="{% url 'home' %}" class="dropdown-item text-dark text-decoration-none">All <i class="fa-brands fa-reddit"></i></a></li>
            {% for topic in topics_all %}
                <li><a href="{% url 'home' %}?q={{ topic.name }}" class="dropdown-item text-dark text-decoration-none mt-2">{{ topic.name }}
                    <span>({{ topic.room_set.count }})</span>
                </a></li>
            {% endfor %}
        </ul>
    </span>

    {# Recent Activities #}
    <span class="dropdown float-end">
        <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            Recent Activities <i class="fa-regular fa-hourglass"></i>
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
            <li> 
            {% for message in room_messages %}
                <div class="border mb-1 dropdown-item">
                    <div>
                        <div class="float-end">
                            <small>{{ message.created|timesince  }}</small>
                        </div>
                        <small>
                            <img src="{{ message.user.avatar.url }}" alt="logo" class="rounded-circle" style="width: 50px; height: 50px;">
                            <a href="{% url 'profile_user' message.user.id %}" class="text-decoration-none">{{ message.user.username }}</a>
                        </small>
                    </div>
                    <small class="mx-2">In <a href="{% url 'room' message.room.id %}">{{ message.room }}</a></small>
                    <small>{{ message.body }} <i class="fa-solid fa-reply"></i></small>
                </div>
            {% endfor %}
            </li>
        </ul>
    </span>
</div>

{# Hide on medium screen #}
<div class="d-none d-md-block">
    <h4>Subreddit <i class="fa-brands fa-free-code-camp"></i></h4>
    <hr>
    <div class="card">
        <div class="card-body d-flex flex-column fs-5 shadow">
            <a href="{% url 'home' %}" class="text-dark text-decoration-none">All <i class="fa-brands fa-reddit"></i></a>
            {% for topic in topics_all %}
                <a href="{% url 'home' %}?q={{ topic.name }}" class="text-dark text-decoration-none mt-2">{{ topic.name }}
                    <span>({{ topic.room_set.count }})</span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
